{%include 'organizationheader.html'%}
<center>
	<h1>Blood Donates</h1>
	<table border="2">
		<tr>
			<th>slno.</th>
			<!-- <th>receiver</th> -->
			<th>blood group</th>
			<th>unit required</th>
			<th>date_time</th>
			<th>status</th>
		</tr>
		{%for row in data['bld']%}
		<tr>
			<td>{{loop.index}}</td>
			<!-- <td>{{row['first_name']}}</td> -->
			<td>{{row['group_name']}}</td>
			<td>{{row['unit_required']}}</td>
			<td>{{row['date_time']}}</td>
			{%if row['status']=='pending'%}
			<td><a href="?action=update&id={{row['request_id']}}">accept</a></td>
			<td><a href="?action=delete&id={{row['request_id']}}">delete</a></td>
			{%else%}
			<td>{{row['status']}}</td>
			{%endif%}
			
			<td><a href="org_view_receiver?id={{row['receiver_id']}}">receiver details</a></td>
		</tr>
		{%endfor%}
	</table>
</center>
{%include 'footer.html'%}